@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.nameWrapper {
  font-family: Abel, sans-serif;
  font-size: 3.5em;
  margin: auto;
  width: fit-content;
  margin-bottom: 50px;
  margin-top: 50px;
  transform: skew(0deg, -7deg);
  display: flex;
  flex-direction: column;
}

/* @media (max-width: ${mediaQuerySizes.mobileL}) {
  font-size: max(9.5vw, 1em);
} */


.nameContainer {
  display: inline-block;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  /* @media (max-width: ${mediaQuerySizes.mobileL}) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  } */
}

.firstname {
  margin: auto;
  font-weight: 300;
}

.lastname {
  margin: auto;
  font-weight: 600;
}